@{
    ViewData["Title"] = "ClaimHub";
}
@model List<Contract_Monthly_Claim_System.Models2.CreateClaim>;

<div class="text-center">
    <h1 class="display-4">Claim Hub</h1>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Surname
                </th>
                <th>
                    Hours
                </th>
                <th>
                    Document
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.ID
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Surname
                    </td>
                    <td>
                        @item.Hours
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.Document))
                        {
                            <a href="@Url.Content(item.Document)" download>Download</a>
                        }
                        else
                        {
                            <span>No Document</span>
                        }
                    </td>
                    <td>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>