@{
    ViewData["Title"] = "ClaimHub";
}
@model List<Contract_Monthly_Claim_System2.Models.CreateClaim>;

<div class="text-center">
    <h1 class="display-4">Claim Hub</h1>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Surname
                </th>
                <th>
                    Hours
                </th>
                <th>
                    Document
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.ID
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Surname
                    </td>
                    <td>
                        @item.Hours
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.Document))
                        {
                            <a href="@Url.Content(item.Document)" download>Download</a>
                        }
                        else
                        {
                            <span>No Document</span>
                        }
                    </td>
                    <td>
                        <div class="progress">
                        @if (item.Approval == 0)
                        {
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Pending</div>
                        }
                        else if (item.Approval == 1)
                        {
                            <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Approved</div>
                        }
                        else if (item.Approval == 2)
                        {
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Rejected</div>
                        }
                    </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>